.services {
	&__offer {
		&--heading {
			text-transform: capitalize;
			padding: 0rem 1rem;
			border-left: 2px solid $primary;
			margin-bottom: 1rem;
		}

		&--lists {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: 1rem;

			@media (max-width: 851px) {
				grid-template-columns: 1fr;
				row-gap: 3rem;
			}
		}

		&--items {
			box-shadow: $box-shadow;
			padding-bottom: 2rem;

			&--line {
				height: 10px;
				background: $warning;

				&--fill {
					background: $primary;
					width: 0%;
					height: 100%;
					transition: all 1s;
				}
			}

			&--content {
				text-align: center;
				display: flex;
				flex-direction: column;
				align-items: center;
				row-gap: 20px;
				padding: 0rem 1rem;

				&--imgWrapper {
					width: 10rem;
					position: relative;
					height: 8rem;
					@media (max-width: 1156px) {
						width: 7rem;
					}
					@media (max-width: 335px) {
						width: 6rem;
					}
				}

				&--heading {
					line-height: 2rem;
					color: $primary;
					text-transform: uppercase;

					@media (max-width: 1156px) {
						font-size: 18px;
					}
					@media (max-width: 917px) {
						line-height: 1.5rem;
					}
					@media (max-width: 851px) {
						font-size: 21px;
					}
				}

				@media (max-width: 372px) {
					row-gap: 10px;
				}
			}

			&:hover .services__offer--items--line--fill {
				width: 100%;
			}
		}

		&--descriptionWrapper {
			margin-bottom: 2rem;
		}

		&--description {
			&:first-child {
				margin-bottom: 1rem;
			}

			&:last-child {
				padding: 1rem 1rem;
				border-left: 2px solid $primary;
			}
		}
	}

	&__listWrapper {
		&--heading {
			margin-bottom: 2rem;
			padding: 0rem 1rem;
			border-left: 2px solid $primary;
			text-transform: capitalize;

			@media (max-width: 345px) {
				line-height: 30px;
			}
		}

		&--lists {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: 2rem;
			row-gap: 5px;

			@media (max-width: 652px) {
				grid-template-columns: 1fr;
			}
			@media (max-width: 430px) {
				row-gap: 1rem;
			}
		}
		&--items {
			display: grid;
			grid-template-columns: 1rem 1fr;
			column-gap: 10px;

			// &--iconWrapper {
			// 	display: grid;
			// 	justify-content: center;
			// }
			&--icon {
				color: $primary;
			}
		}
	}
}
