$primary: #273272;
$secondary: #ee5f18;
$success: #6fc45f;
$danger: #d54317;
$warning: #d58a17;

$bgLayout: #00000063;

$backgroundColor1: #34418f;
$backgroundColor2: #273272;
$backgroundColor3: #202960;

$textColor1: #b5c0ff;

$border: #e0e0e0;
$box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
$box-shadow-1: 0px 3px 10px 1px rgba(0, 0, 0, 0.3);
$box-shadow-color: rgba(0, 0, 0, 0.3);
$text100: #505050;
$text200: #9c9c9c;
$backgroundShade: #f8f8f8;
